*{
	margin: 0;
	padding: 0;
}

.wrap{
	overflow:auto;
	margin: 20px;
	background-color: #eee;
}

.left_box, .center_box, .right_box{
	padding: 20px;
	background-color: #fff;
	border-color: #999;
	border-style: solid;
	border-width: 1px;
}

img{
	border-color: #999;
	border-style: solid;
	border-width: 1px;

}

.left_box, .right_box{
	margin: 20px;
}

.left_box{
	width: 200px;
	float: left;
}

.center_box{
	margin-top: 20px;
	margin-left: 282px;
	margin-right: 202px;

}

.right_box{
	width: 120px;
	float: right;
	text-align: center;
}
.right_box img{
	margin-bottom: 15px;
	margin-top: 5px;
}